@model ProjetASPMVC1.Models.Candidat

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Header End -->
<!-- Hero Section Begin -->

<section class="hero-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="hero-text">
                    <h1 style="color:black;">
                        L'ENSA Safi
                    </h1>
                    <p style="color:DarkOrange;">
                        L’Ecole Nationale des Sciences Appliquées de Safi est une jeune et dynamique école d’ingénieurs de l’université Cadi Ayyad
                    </p>
                    <a href="#" class="primary-btn">Découvrez maintenant</a>
                </div>
            </div>
            <div class="col-xl-4 col-lg-5 offset-xl-2 offset-lg-1">
                <div class="booking-form">
                    <h3>
                        @Html.Label(ProjetASPMVC1.Ressources.langues.Authentification)
                    </h3>
                    @using (Html.BeginForm("Authorise", "Home", FormMethod.Post))
                    {
                        <form action="#">
                            <div class="check-date">
                                @Html.LabelFor(model => model.CIN)
                                @Html.EditorFor(model => model.CIN)
                                @Html.ValidationMessageFor(model => model.CIN)
                            </div>
                            <div class="check-date">
                                @Html.LabelFor(model => model.password)
                                @Html.EditorFor(model => model.password, new { @class = "form-control", placeholder = "Password", @type = "password" })
                                @Html.ValidationMessageFor(model => model.password)
                            </div>
                            <button type="submit">@Html.Label(ProjetASPMVC1.Ressources.langues.Login)</button>
                        </form>

                    }
                </div>
            </div>
        </div>
    </div>
    <div class="hero-slider owl-carousel">
        <div>
            <img src="~/img/hero/hero-3.jpg" style="width :1600px;height:650px;" />
        </div>
        <div>
            <img src="~/img/hero/hero-1.png" style=" width :1600px;height:650px; " />
        </div>
        <div>
            <img src="~/img/hero/unnamed.jpg" style="  width :1600px;height:650px;" />
        </div>
    </div>
</section>
<!-- Hero Section End -->
<!-- About Us Section Begin -->
<section class="aboutus-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="about-text">
                    <div class="section-title">
                        <span> @Html.Label(ProjetASPMVC1.Ressources.langues.About_us)</span>
                    </div>
                    <p class="f-para">
                        L’Ecole Nationale des Sciences Appliquées de Safi est une jeune et dynamique école d’ingénieurs de l’université Cadi Ayyad nichée sur une grande falaise et surplombant de haut l’océan atlantique. Fondée en 2003, elle offre à ses élèves-ingénieurs une palette de formations solides et variées en Génie Industriel, Génie des procédés et matériaux céramiques, Génie informatique et Génie télécommunication et réseaux, tout en accordant beaucoup d’importance aussi bien aux sciences humaines, économiques et sociales qu’à l’esprit d’entreprise. Et partant, les lauréats de l’ENSAS sont dotés de bonnes capacités d’intégration et d’analyse, de solides connaissances scientifiques et techniques ainsi que des qualités utiles au pilotage, à l’entreprenariat, à la communication, à la participation (au partage) et à la direction. Pour réussir dans sa mission, l’ENSA de Safi s’appuie sur un corps professoral de qualité et varié, sur des laboratoires bien équipés et modernes et sur des partenariats fructueux et profitables avec le monde de l’industrie. En plus grâce à son esprit de formation, à son respect des choix de ces étudiants et à son ouverture sur son entourage, l’ENSAS fournit à chacun de ces lauréats les outils utiles à son insertion dans le monde de travail voire même son épanouissement personnel et l’invention de son rôle de demain.

                    </p>
                    <p class="s-para">
                        So when it comes to booking the perfect hotel, vacation rental, resort,
                        apartment, guest house, or tree house, we’ve got you covered.
                    </p>
                    <a href="#" class="primary-btn about-btn">@Html.Label(ProjetASPMVC1.Ressources.langues.Read_More)</a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-pic">
                    <div class="row">
                        <div class="col-sm-6">
                            <img src="~/img/about/GEEKS CLUB.jpg" alt="" style="height:250px;margin-top:200px; border-radius:15px;">
                        </div>
                        <div class="col-sm-6">
                            <img src="~/img/about/index2.jpg" alt="" style="height:250px;margin-top:200px;border-radius:15px;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section ftco-no-pt ftco-no-pb">
    <div class="container">
        <div class="row">
            <div class="col-md-3 d-flex services align-self-stretch p-4 py-md-5 ftco-animate">
                <div class="media block-6 d-block text-center pt-md-4">
                    <div class="icon d-flex justify-content-center align-items-center">
                        <span class="fa fa-calendar"></span>
                    </div>
                    <div class="media-body p-2 mt-3">
                        <h3 class="heading">Calendrier</h3>
                        <p>Le calendrier annuel des semaines des études à l'ensa safi ainsi que les jours des vacances pour l'année 2019-2020.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-flex services align-self-stretch p-4 py-md-5 ftco-animate">
                <div class="media block-6 d-block text-center pt-md-4">
                    <div class="icon d-flex justify-content-center align-items-center">
                        <span class="fa fa-calendar-check-o"></span>
                    </div>
                    <div class="media-body p-2 mt-3">
                        <h3 class="heading">Emploi du temps</h3>
                        <p>Les emplois du temps actualisés du cycle préparatoire et ingénieur sont consultable sous cette rubrique du site.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-flex services align-self-stretch p-4 py-md-5 ftco-animate">
                <div class="media block-6 d-block text-center pt-md-4">
                    <div class="icon d-flex justify-content-center align-items-center">
                        <span class="icon-book"></span>
                    </div>
                    <div class="media-body p-2 mt-3">
                        <h3 class="heading">Cours en ligne</h3>
                        <p>Déposés par les responsables des modules, vous pouvez trouvez aussi des séries de TD et des examens.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-flex services align-self-stretch p-4 py-md-5 ftco-animate">
                <div class="media block-6 d-block text-center pt-md-4">
                    <div class="icon d-flex justify-content-center align-items-center">
                        <span class="flaticon-home"></span>
                    </div>
                    <div class="media-body p-2 mt-3">
                        <h3 class="heading">Visite virtuelle</h3>
                        <p>On vous propose une visite virtuelle pour des locaux de notre école.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-md-12 col-lg-4 services-2 p-4 py-5 d-flex ftco-animate">
                <div class="py-3 d-flex">
                    <div class="icon">
                        <span class="flaticon-engineer"></span>
                    </div>
                    <div class="text">
                        <h3> Etudier à l'ENSA </h3>
                        <p class="mb-0"> > Départements <br /> > Cycle préparatoires <br /> > Cycle d'ingénieur <br /> > Formation continue</p>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-4 services-2 p-4 py-5 d-flex ftco-animate">
                <div class="py-3 d-flex">
                    <div class="icon">
                        <span class="flaticon-engineer-1"></span>
                    </div>
                    <div class="text">
                        <h3>Recherche Scientifique</h3>
                        <p class="mb-0">Notre Ecole participe activement à la recherche scientifique grace à ses structures de recherche.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-4 services-2 p-4 py-5 d-flex ftco-animate">
                <div class="py-3 d-flex">
                    <div class="icon">
                        <span class="flaticon-engineer-2"></span>
                    </div>
                    <div class="text">
                        <h3>Activités de rayonnement</h3>
                        <p class="mb-0">L'élève ingénieur de L'ENSA Safi est toujours en position d'acquérir des valeurs comme l'ouverture et l'excellence.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> <br /> <br />
