
@{

    Layout = "~/Views/Shared/_LayoutAdmin.cshtml ";
}

@section Msg{ <p style="color:white;">+ @ViewBag.Msg</p>}
<div class="row">
    <div class="col-xl-3 col-md-6">
        <div class="card bg-primary text-white mb-4">
            <div class="card-body">Tout inscrits en 3eme anneé</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link" href="#">voir les détails</a>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                @ViewBag.niv3 Candidats
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-md-6">
        <div class="card bg-success text-white mb-4">
            <div class="card-body">Tout inscrits en 4 eme anneé</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link" href="#div_id">voir les détails</a>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                @ViewBag.niv4  Candidats
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-md-6">
        <div class="card bg-warning text-white mb-4">
            <div class="card-body">Tout utilisateurs</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link" href="#">voir les détails</a>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                @ViewBag.ut  utilisateur
            </div>
        </div>
    </div>



    <div class="col-xl-3 col-md-6">
        <div class="card bg-danger text-white mb-4">
            <div class="card-body"> 3eme et 4eme anneé supprimer</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link" href="#">voir les détails</a>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
</div>
<table style="margin-left:150px;">
    <tr style="font-size:10px;"><th style="color:blue;">Nombre des Candidats par filiere pour 3eme année</th><th style="color:green;padding-left:20px;">Nombre des Candidats par filiere pour 4eme année</th></tr>
    <tr style="padding-left:20px;"><th><img src="@Url.Action("MyChartNiveau3")" style="height:200px; width:500px;border:2px solid blue;" /></th><th style="padding-left:20px;"> <img src="@Url.Action("MyChartNiveau4")" style="height:200px; width:500px;border:2px solid green; " alt="4eme année" /></th></tr>
</table>




