@model ProjetASPMVC1.Models.Diplome
@{

    Layout = "~/Views/Shared/_LayoutAdmin.cshtml ";
}
<html>

<head>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</head>
<body>
    <div style="margin-left:20px;">
        @Ajax.BeginForm("preselectionCalcule4eme", "Admins", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "div2", InsertionMode = InsertionMode.Replace, })
        @Html.Label("Préselection ")<br />
        @Html.Label("filiere :")
        @Html.DropDownList("id_fil", ViewBag.f as SelectList, htmlAttributes: new { @class = "btn btn-secondary dropdown-toggle" })

        <select name="nom_dip" style="width:260px;height:50px;border-radius:5px; border:1px solid lightgray;color:gray;margin-bottom:20px;">
            <option>selectionner  votre diplome</option>
            <option value="Licence">Licence</option>
            <option value="Licence pro">Licence pro</option>
            <option value="DUT">DUT</option>
            <option value="BTS">BTS</option>
        </select>

        @Html.Label("coifficients des notes :")    <br />
        @Html.Label("bac:")     <select name="bac" style="width:50px;height:40px;border-radius:5px; border:1px solid lightgray;color:gray;margin-bottom:20px;">
            <option>_</option>
            <option value="1">1</option>
            <option value="2">2</option>
        </select>
        @Html.Label("note 1:")     <select name="n1" style="width:50px;height:40px;border-radius:5px; border:1px solid lightgray;color:gray;margin-bottom:20px;">
            <option>_</option>
            <option value="1">1</option>
            <option value="2">2</option>
        </select>
        @Html.Label("note 2:")     <select name="n2" style="width:50px;height:40px;border-radius:5px; border:1px solid lightgray;color:gray;margin-bottom:20px;">
            <option>_</option>
            <option value="1">1</option>
            <option value="2">2</option>
        </select>
        @Html.Label("note 3:")     <select name="n3" style="width:50px;height:40px;border-radius:5px; border:1px solid lightgray;color:gray;margin-bottom:20px;">
            <option>_</option>
            <option value="1">1</option>
            <option value="2">2</option>
        </select>
        @Html.Label("note 4:")     <select name="n4" style="width:50px;height:40px;border-radius:5px; border:1px solid lightgray;color:gray;margin-bottom:20px;">
            <option>_</option>
            <option value="1">1</option>
            <option value="2">2</option>
        </select>
        @Html.Label("note 5:")     <select name="n5" style="width:50px;height:40px;border-radius:5px; border:1px solid lightgray;color:gray;margin-bottom:20px;">
            <option>_</option>
            <option value="1">1</option>
            <option value="2">2</option>
        </select>
        @Html.Label("note 6:")     <select name="n6" style="width:50px;height:40px;border-radius:5px; border:1px solid lightgray;color:gray;margin-bottom:20px;">
            <option>_</option>
            <option value="1">1</option>
            <option value="2">2</option>
        </select><br />
        @Html.Label("note seuil:")  @Html.TextBox("seuil", null) <br />
        @Html.Label("note joker:")  @Html.TextBox("joker")<br />

        <input type="submit" value="lancer la preselection de la 4eme annee " style="border-radius:12px; background-color:cornflowerblue; color:white;" />

        @{Html.EndForm();}


    </div>
    <div id="div2"></div>
</body>
</html>