@model IEnumerable<ProjetASPMVC1.Models.Candidat>

@{
    ViewBag.Title = "preselectionCalcule";
}



<div class="card mb-4">
    <div class="card-header"><i class="fas fa-table mr-1"></i>Resultats de préselection 3éme année</div>
    <div class="card-body">
        <div class="table-responsive">
            @using (Html.BeginForm("Export", "Admins", FormMethod.Post))
            {

                <input type="submit" value="Exporté les résultats to Excel" ; style="border-radius:12px;width: 230px; background-color:cornflowerblue; color:white;" />

            }

            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                    <tr>

                        <th>
                            @Html.DisplayNameFor(model => model.CNE)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.prenom)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.nom)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ville)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.type_bac)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.annee_bac)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.note_bac)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.mention_bac)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.n_dossier)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.email)
                        </th>


                    </tr>

                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>

                            <td>
                                @Html.DisplayFor(modelItem => item.CNE)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.prenom)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.nom)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ville)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.type_bac)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.annee_bac)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.note_bac)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.mention_bac)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.n_dossier)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.email)
                            </td>


                        </tr>

                    }

                </tbody>
            </table>
        </div>
    </div>
</div>




