
@{
    ViewBag.Title = "update";
}

@model ProjetASPMVC1.Models.Candidat
<!DOCTYPE html>
<html lang="zxx">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Sona Template">
    <meta name="keywords" content="Sona, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ENSAS </title>
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cabin:400,500,600,700&display=swap" rel="stylesheet">
    <!-- Css Styles -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="~/css/flaticon.css" type="text/css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="~/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="~/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/style.css" type="text/css">
    <style>

        body {
            font-family: montserrat, arial, verdana;
            background-image: url('../../img/papers.co-sj80-magic-color-purple-gradation-blur-40-wallpaper.jpg');
            height: 150%;
            background-size: cover;
        }

     


        .form {
            margin-top: 20px;
            margin-left: 450px;
            width: 600px;
            padding: 40px;
            border-left: 4px solid cornflowerblue;
            border-right: 4px solid cornflowerblue;
        }
    </style>
</head>
<body>
    <header class="header-section">
        <div class="top-nav bg-white">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <ul class="tn-left">
                            <li><i class="fa fa-phone"></i> (12) 345 67890</li>
                            <li><i class="fa fa-envelope"></i>  ensasafi@gmail.com</li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <div class="tn-right">
                            <div class="top-social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                             
                            </div>
                            <a href="#" class="bk-btn bg-info">Ensa Safi</a>
                            <div class="language-option">
                                <img src='~/img/@Html.DisplayFor(model => model.photo)' style="margin-left:100px; float:left;border-radius:100px;" />
                                <span>Home<i class="fa fa-angle-down"></i></span>
                                <div class="flag-dropdown" style="width:200px;">
                                    <ul>
                                        <li>@Html.ActionLink("Home", "Home", "Candidats")</li>
                                        <li>@Html.ActionLink("Telecharger recu", "EXportPDF", "Candidats", null, null)</li>
                                        <li>@Html.ActionLink("mes informations", "update", "Candidats", new { cin = ViewBag.CIN }, htmlAttributes: null)</li>
                                        <li>@Html.ActionLink("Diplomes obtenus", "update2", "Candidats", new { cin = ViewBag.CIN }, htmlAttributes: null)</li>
                                        <li>@Html.ActionLink("choix de filière", "update3", "Candidats", new { cin = ViewBag.CIN }, htmlAttributes: null)</li>
                                        <li>@Html.ActionLink("Télécharger les epreuvres", "Telecharger", "Candidats")</li>

                                        <li>@Html.ActionLink("Déconnexion", "LogOut", "Home")</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <br /><br /><br />
    <center >
        <h4 style="color:cornflowerblue;"> @Html.DisplayFor(model => model.prenom), veuillez modifier les informations personnels </h4> <br />

        <h6 style="color:blue">@ViewBag.messageconfirm</h6>
    </center>
    <hr />
    <img src='~/img/@Html.DisplayFor(model => model.photo)' style="margin-left:100px; float:left;margin-top:100px;" />
    <form class="form" action="updateinfo" method="post">

        <div class="form-horizontal">

            <div class="form-group">
                <input type="text" name="cin" value=@Html.DisplayFor(model => model.CIN) class="col-md-10" placeholder="entrer CIN" required />
            </div>
            <div class="form-group">
                <input type="text" name="cne" value=@Html.DisplayFor(model => model.CNE) class="col-md-10" placeholder="entrer CNE" required />
            </div>
            <div class="form-group">
                <input type="text" name="prenom" value=@Html.DisplayFor(model => model.prenom) class="col-md-10" placeholder="entrer votre prenom" required />
            </div>
            <div class="form-group">
                <input type="text" name="nom" value=@Html.DisplayFor(model => model.nom) class="col-md-10" placeholder="entrer votre nom" required />
            </div>
            <div class="form-group">
                <input type="text" name="ville" value=@Html.DisplayFor(model => model.ville) class="col-md-10" placeholder="entrer votre ville" required />
            </div>
            <div class="form-group">
                <input type="text" name="adresse" value=@Html.DisplayFor(model => model.addresse) class="col-md-10" placeholder="entrer votre adresse" required />
            </div>
            <div class="form-group">
                <input type="text" name="numéro" value=@Html.DisplayFor(model => model.tel) class="col-md-10" placeholder="entrer votre numéro de téléphone" required />
            </div>
            <div class="form-group">
                <input type="text" name="GSM" value=@Html.DisplayFor(model => model.GSM) class="col-md-10" placeholder="entrer votre GSM" required />
            </div>
            <div class="form-group">
                <select class="col-md-10" name="nationalité" value=@Html.DisplayFor(model => model.sexe)>
                    <option value="féminin">Marocain</option>
                    <option value="masculin">Etranger</option>
                </select>
            </div>

            <div class="form-group">

                <div class="col-md-10">
                    <center>
                        Femme <input type="radio" value="femme" name="sexe" /> Homme <input type="radio" value="homme" name="sexe" required />
                    </center>
                </div>

            </div>

            <div class="form-group">
                <input type="text" name="email" value=@Html.DisplayFor(model => model.email) class="col-md-10" placeholder="entrer votre email" required />
            </div>
            <div class="form-group">
                <input type="text" name="date_naiss" value=@Html.DisplayFor(model => model.date_naiss) class="col-md-10" placeholder="jj/mm/aa" required />
            </div>
            <br />

            <div class="form-group">
                <center> <input type="file" name="photo" class="col-md-10" required /> </center>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="valider les modifications" class="col-md-10" style="background-color:cadetblue" required />
            </div>
        </div>
    </form>


    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }

